<div class="table-responsive">
<table class="table table-bordered" id="table">
    <thead>
        <tr>
            <th>
                <div dropdown class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle=""><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                    <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                        <li ng-repeat="field in table.fields"><label><input type="checkbox" ng-model="field.visible">{{field.name}}</label></li>
                    </ul>
                </div>
            </th>
            <th ng-repeat="field in table.fields" ng-if="field.visible" ng-click="table.changeSorting(field, $event)" ng-class="table.getFieldClass(field)">
                {{field.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="row in table.data" ng-class="{active: table.show(row)}">
            <th scope="row"><input type="checkbox" ng-model="table.checked[row.id]"></th>
            <td ng-repeat="field in table.fields" ng-if="field.visible" ng-click="table.expand(row)">
                {{row[field.value]}}
            </td>
        <tr ng-repeat-end="" ng-if="table.show(row)">
            <td colspan="{{table.countColumns()}}"><div ui-view></div></td>
        </tr>
    </tbody>
</table>
</div>

<div class="row">
    <div class="col-xs-6">
        <pagination total-items="table.pagination.total" ng-model="table.pagination.current" ng-change="table.pageChanged()" items-per-page="table.pagination.itemsPerPage" previous-text="&laquo;" next-text="&raquo;"></pagination>
    </div>
    <div class="btn-group col-xs-6">
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="10">10</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="25">25</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="50">50</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="100">100</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="0">Wszystkie</label>
    </div>
</div>