<div class="table-responsive">
<table class="table table-bordered" id="{{table.id}}" ng-class="table.class">
    <thead>
        <tr>
            <th>
                <div dropdown class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle=""><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                    <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation()">
                        <li ng-repeat="field in table.fields" ng-if="!table.isTemplate(field)"><label><input type="checkbox" ng-model="field.visible">{{field.name}}</label></li>
                    </ul>
                </div>
            </th>
            <th ng-if="table.selectMultiple">

            </th>
            <th ng-repeat="field in table.fields" ng-if="field.visible" ng-click="table.changeSorting(field, $event)" ng-class="table.getFieldClass(field)" style="cursor:pointer">
                {{field.name}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat-start="row in table.data" ng-class="table.rowStyle(row)">
            <td>{{(table.pagination.current - 1) * table.pagination.itemsPerPage + $index + 1}}.</td>
            <th scope="row" ng-if="table.selectMultiple"><input type="checkbox" ng-model="row.checked" ng-change="table.checkedChange()"></th>
            <td ng-repeat="field in table.fields" ng-if="field.visible" ng-click="table.expand(row)">
                <div ng-if="!table.isTemplate(field)">{{table.getValue(field.value, row)}}</div>
                <div ng-if="table.isTemplate(field)" ng-include="field.templateUrl"></div>
            </td>
        <tr ng-repeat-end="" ng-if="table.show(row)">
            <td colspan="{{table.countColumns()}}"><div ui-view></div></td>
        </tr>

    </tbody>
    <tfoot ng-if="table.hasSum()">
        <tr>
            <td>&nbsp;</td>
            <td ng-if="table.selectMultiple">&nbsp;</td>
            <td ng-repeat="field in table.fields" ng-if="field.visible">
                <span ng-if="field.type == 'sum'">
                    Suma: {{table.sum(field.value) | number:2}}
                </span>
            </td>
        </tr>
    </tfoot>
</table>
</div>

<div class="row">
    <div class="col-xs-6">
        <pagination total-items="table.pagination.total" ng-model="table.pagination.current" ng-change="table.pageChanged()" max-size="5" items-per-page="table.pagination.itemsPerPage" previous-text="&laquo;" next-text="&raquo;"></pagination>
    </div>
    <div class="btn-group col-xs-6">
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="10">10</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="25">25</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="50">50</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="100">100</label>
        <label class="btn btn-primary" ng-model="table.pagination.itemsPerPage" btn-radio="0">Wszystkie</label>
    </div>
</div>
